<h1>Summary for <%= @author['name'] %></h1>

<h2>Books</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Average Rating</th>
      <th>Number of Reviews</th>
    </tr>
  </thead>
  <tbody>
    <% @author_books.each do |book| %>
      <tr>
        <td><%= book['title'] %></td>
        <td><%= book['average_rating'] %></td>
        <td><%= book['number_of_reviews'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
