<h1>Author Summary</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Books Count</th>
    <th>Average Score</th>
    <th>Total Sales</th>
  </tr>
  <% @results.each do |author| %>
    <tr>
      <td><%= author['name'] %></td>
      <td><%= author['books_count'] %></td>
      <td><%= author['average_score'] %></td>
      <td><%= author['total_sales'] %></td>
    </tr>
  <% end %>
</table>
