<h1>Authors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Books</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |author| %>
      <tr>
        <td><%= author['name'] %></td>
        <td><%= author['books_count'] %></td>
        <td><%= link_to 'Show', author_path(author['id']) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
