<h1>Search Results</h1>

<% if @search_results.empty? %>
  <p>No books found matching your query.</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Average Rating</th>
        <th>Sales Count</th>
      </tr>
    </thead>
    <tbody>
      <% @search_results.each do |book| %>
        <tr>
          <td><%= book['title'] %></td>
          <td><%= book['author_name'] %></td>
          <td><%= book['average_rating'] %></td>
          <td><%= book['sales_count'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
