<h1>Search for Books</h1>

<%= form_with url: search_books_path, method: :get, local: true do %>
  <div>
    <%= label_tag :query, "Search by Title or Author" %>
    <%= text_field_tag :query, params[:query] %>
  </div>

  <div>
    <%= submit_tag "Search" %>
  </div>
<% end %>
